* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e5adade0;
    padding: 40px;
}

.input {
    display: flex;
    gap: 10px;
}

input {
    padding: 9px;
}

.mainbar{
    display: flex;
    justify-content: center;
    
}
.title{
    text-align: center;
    background-color: rgb(253, 253, 253);
    width: 400px;
    border-radius: 30px;
}

button {
    margin-top: 4px;
    padding: 1px 20px;
    border: none;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}
#task{
    margin-top: 10px;
}
#todoList {
    margin-top: 20px;
    padding-left: 20px;
}

#todoList li {
    margin-bottom: 10px;
    
}

.remove-button {
    margin-left: 12px;
    color: rgb(0, 68, 255);
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    background:none;
}
.main{
    margin-top: 12px;
}

.completed {
    text-decoration: line-through 2px;
    color: grey;
}

li:hover {
    cursor: pointer;
}

.remove-button:hover{
    color: #ff7b00;
}

button:hover{
    background-color:  #e5adade0;
    cursor: pointer
}